* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: arial, Helvetica, sans-serif;
}

.item {
  font-size: 20px;
  background-color: #e04dbbef;
  color: white;
  text-align: center;
}
.container {
  /*Creating a responsive website */
  display: grid;
  width: 100%;
  background-color: #d18ce0;

  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 150px; /*would provide the height for the implicit rows track */
}

/*Note : the root font size specification for the entire page by DEFAULT is 16PX, but you can alway change that */
/* Review Custom property 
(--color-primary: hsl(232, 15%, 19%)
video, very important*/

/*display: grid; */
/* grid-template-columns: [container-start] 1fr [center-start] repeat(
    10,
 /*   minmax(min-content, 11rem) [col-end]  /* width of webpage/no of fintended colums 
  );   */                                  /* 1100/10   therefore 110/100 = 11 rem;
