/* Shorthand for grid template columns, rows and areas*/
/* .container {
  display: grid;

  grid-template:
    [row-1-start] "Header  Header Header Header Header" 250px[row-1-end]
    [row-2-start] "main main main sidebar sidebar" 250px[row-1-end]
    [row-1-start] ".  sec-1 sec-1 sec-1 ." 250px[row-1-end]
    [row-1-start] "footer footer footer footer footer" 250px[row-1-end]
    / 1fr 2fr 3fr 2fr 1fr;

  gap: 10px;
}

.item-1 {
  grid-area: Header;
}
.item-2 {
  grid-area: main;
}
.item-3 {
  grid-area: sidebar;
}
.item-4 {
  grid-area: sec-1;
}
.item-5 {
  grid-area: footer;
} */

/* #IF 0
 .container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 75px 75px 75px 75px 75px;
  grid-template-rows: repeat(5, 100px);
  grid-template-rows: [row-1-start] 100px [row-1-end row-2-start] 100px 
  [row-2-end row-3-start] 100px [row-3-end row-4-start] 100px 
  [row-4-end row-5-start] 100px [row-5-end];

  #ELSE
 .container {
  display: grid;
  height: 100vh;

  grid-template-areas:
    "header header header header header header header header header header header header"
    "aside  main main main main main main main main main main main"
    "aside  sec-1 sec-1 sec-1 sec-1 sec-2 sec-2 sec-2 sec-2 sec-2 sec-2 sec-2"
    "aside sec-3 sec-3 sec-3 sec-3 sec-3 sec-3 sec-3 sec-4 sec-4 sec-4 sec-4"
    "aide sec-5 sec-5 sec-5 sec-5 sec-5 sec-6 sec-6 sec-6 sec-6 sec-6 ."
    "footer footer footer footer footer footer footer footer footer footer footer footer";
}

.item-1 {
  grid-area: header;
  background-color: lightcoral;
}
.item-2 {
  grid-area: main;
  background-color: lightcyan;
}
.item-3 {
  grid-area: aside;
  background-color: yellow;
}

.item-4 {
  grid-area: sec-1;
  background-color: #5902ec;
}

.item-5 {
  grid-area: sec-2;
  background-color: lightskyblue;
}

.item-6 {
  grid-area: sec-3;
  background-color: #b4fe98;
}

.item-7 {
  grid-area: sec-4;
  background-color: #b611f7;
}
.item-8 {
  grid-area: sec-5;
  background-color: #9ff711;
}
.item-9 {
  grid-area: sec-6;
  background-color: #04313f;
}
.item-10 {
  grid-area: footer;
  background-color: #f71184;
} */

/* =================================================================*/

/*.container {
  display: grid;
  /*grid-template-rows: repeat(2, 150px); */

/* section div {
  height: 100%;
  width: 75%;
} */

/* .item {

  font-size: 20px;
  padding: 20px;
  background-color: #d6e04def;
  color: white;
  column-gap: 15px;
} */

/*AUTO-FIT AND AUTO-FILL VALUES */
/* width: 1400px;
  background-color: #d18ce0;
   grid-template-columns: repeat(auto-fill, 100px);
   grid-template-rows: repeat(auto-fit, 100px); */

/*grid-auto-rows: 150px; Provides HEIGHT for the implicit row tracks generated */
/* gap: 5px; */
/* grid-template-columns: 1fr 1fr 1fr 1fr; */
/*grid-template-columns: 1fr 1fr 1fr max-content;*/
/* grid-template-columns: 1fr 1fr 1fr min-content; */

/* AVOID specifying a fixed height of container and allow the content define that to avoid mediocre designs and 
  altering units over and over again, it can affect responsiveness of the website */
/* grid-template-columns: repeat(3, 1fr) minmax(150px, 300px); 
}*/

/* .container {
  display: grid;
  gap: 5px;
  /* this results in an implicit row creation */
/*grid-template-columns: repeat(6, 200px);
  grid-template-rows: repeat(3, 100px);

  grid-auto-rows: 400px; /* styles implicit grid tracks */

/* GRID_AUTO_FLOW Determines how implicit grid tracks are displayed  */
/*grid-auto-flow: row; /*Dfault with no changes */
/*grid-auto-flow: column; /* implicit grid tracks would appear on the column */

/* provides DIMENSIONS for an implicit column or row track */
/* Note: height is defined for rows, thicknes and width for coloums */
/*grid-auto-columns: 400px;
} */

/* .container {
  display: grid;
   shorthand for row and colum gap in order RC
   gap: 15px 5px; */

/* gap: 5px;
  background-color: rgb(173, 179, 230);
  height: 100vh;
  grid-template-columns: repeat(5, [col-start] 250px [col-end]);
  grid-template-rows: repeat(4, [row-start] 100px [row-end]); */

/*column-gap: 15px;
  row-gap: 15px; */

/* PLACE_ITEMS IS shorthand for combining align and justify items
  align-items: stretch; Default
  place-item shorthand is in the order of (1)ALIGN (2)JUSTIFY
  place-items: center center; /* would be horizontally and vertically centered within its grid cell
  place-items: end start; */

/* EPISODE 71 */

/*align-items: center;  Align items VERTICALLY 
  align-items: start;   VERTICALLY 
  align-items: end; */

/* justify-items: stretch; /*Dfault : takes up entire availabe space */
/* justify-items: center; /*align items HORIZONTally at the center within their containers */
/* justify-items: start; /*goes to the start of grid cells , HORIZONTally*/
/*justify-items: end; /*goes to end of grid cells, HORIZONTally*/

/*justify-content: stretch; /* justify only works if an absolute unit was used in creating grids 
  justify-content: center;
  justify-content: end;
  justify-content: start;
  justify-content: space-around;
  justify-content: space-between;
  justify-content: space-evenly;
  */

/*align-content: stretch; /* vertical behaviour  stretch is Dfault
  align-content: center;
  align-content: end;
  align-content: start;
  align-content: space-around;
  align-content: space-between;
  align-content: space-evenly; */

/*PLACE_CONTENT is a shorthand for justify content and align content, works when extra space is in container */

/* place-content: center center;
  place-content: center start;
  place-content: start center; 
}
*/

/* .item-6 {
  background-color: #0e185f;
  align-self: stretch;
  align-self: center; /*vertically 
  align-self: start;
  align-self: end;
}
.item-7 {
  background-color: #5f210e;
  justify-self: stretch; /*Horizontally
  justify-self: center;
  justify-self: start;
  justify-self: end;
} */
/*
.item-1 {
  background-color: #0e185f;
  place-self: stretch;
  place-self: center center;
  place-self: start center;
  place-self: end;
}*/

/*CHANGING THE POSITION OF A GRID ITEM?CELL */
/* specify the starting and ending rows names and column and note down their numbers of new loctaion to switch to,inorder to switch */
/* .item-8 {
  background-color: #520e5f;

  grid-column-start: 2;
  grid-column-end: 3;

  grid-row-start: 3;
  grid-row-end: 4;
} */

/* CHANGING GRID LINE NAMES   METHOD 1*/

/*.item-19 {
  background-color: lightcoral;
  grid-column-start: col-start 3;
  grid-column-start: col-end 3;
  grid-row-start: row-start 1;
  grid-row-end: row-end 1; 
} */
/* METHOD 2 [SHORTER ALTERNATIVE]*/
/* .item-10 {
  background-color: lightgreen;
  grid-column: col-start 1 / col-end 1;
  grid-row: row-start 4 / row-end 4;
} */
/* METHOD 3 [SHORTEST ALTERNATIVE]*/

/*.item-1 {
  background-color: lightblue;
  grid-area: row-start 4 / col-start 5 / row-end 4 / col-end 5;
} */

/* SPANNING GRID ITEMS  */
/*.item-2 {
  background-color: lightgrey;
  grid-column: col-start 1 / col-end 2;
  grid-row: row-start 1 / row-end 2;
} */

/*.item-5 {
  background-color: lightpink;
  grid-area: row-start 2 / col-end 5 / row-end 5 / col-end 4;
   demonstrates implicit rows
} 
/* .item-7 {
  background-color: tomato;
  grid-column: col-start 1 / span 2;
  grid-row: row-start 3 / span 2;
   This shows the overlapping effect
} */
