.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.snap_image img {
  margin-top: 0;
  height: 500px;
  max-width: 600px;
}

.typo_section {
  display: flex;
  flex-direction: column;
  justify-items: space-around;
  height: 65%;
  width: 35%;
  color: hsl(0, 0%, 8%);
  position: relative;
}

.typo_section p {
  max-height: 5%;
  width: 50%;
  color: hsl(0, 0%, 8%);
  font-weight: normal;
  font-size: 0.8em;
  margin-bottom: 8px;
}
.typo_section button {
  color: hsl(0, 0%, 98%);
  background-color: hsl(0, 0%, 8%);
  text-align: center;
  border-radius: 0.8em;
  height: 40px;
  width: 20%;
  margin-top: 3%;
  bottom: 0;
}

.container_footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 20%;
  width: 20%;
  position: absolute;
  bottom: 0;
  left: 10%;
}
