.container {
  display: flex;
  flex-direction: row;
  /* padding: 30px; */
  margin: 4em;
  justify-content: center;
}

.snap_image img {
  margin-top: 0;
  height: 350px;
  width: 400px;
  /* margin-left: -50px; */
}

.typo_section {
  display: flex;
  flex-direction: column;
  height: 65px;
  width: 35%;
  font-weight: bold;
  color: hsl(0, 0%, 8%);
  margin-left: 2opx;
}

.typo_section p {
  height: 30px;
  width: 60%;
  color: hsl(0, 0%, 8%);
}
.typo_section button {
  color: hsl(0, 0%, 98%);
  background-color: hsl(0, 0%, 8%);
  border-radius: 4px;
  height: 2%;
  width: 75px;
  margin-bottom: 0px;
}
