body {
  font-size: 18px;
  margin: 0;
  padding: 0;
  color: hsl(0, 0%, 98%);
  font-family: "Helvetica Neue", Helvetica, Arial;
}
nav ul,
nav h4 {
  list-style: none;
  width: 10%;
  height: 25%;
  font-size: 12px;
  color: hsl(0, 0%, 8%);
}
.navbar {
  display: flex;
  position: relative;
  padding: 0.2% 1%;
}
.navbar h4 {
  right: 0;
}

.navbar span {
  margin-right: 0;
  right: 0;
  border: 1px solid hsl(0, 0%, 8%);
  border-radius: 3px;
  height: 50%;
  width: 5%;
  text-align: center;
  font-size: 15px;
  color: hsl(0, 0%, 8%);
  margin-left: 8%;
  position: absolute;
}
.logo img {
  height: 3%;
  width: 3%;
  top: 5%;
  position: absolute;
}
